.title-check {
    position: relative;
    padding: 20px 0;
    font-size: 1.3rem;
    line-height: 18px;
    color: #000;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 25px;
}

.title-check:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 95px;
    left: 0;
    bottom: 0;
    background-color: #c0392b;
}

/* Form */
.form_address .form-group {
    position: relative;
    margin-bottom: 15px;
    padding: 0;
    margin-right: 0;
}

.form-group small {
    font-size: .7rem;
    padding-left: 10px;
}

.form-group input {
    height: 40px;
}

.form_address .form-group .form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #000;
    border: 1px solid #DDE1EF;
    border-radius: 4px;
    padding: 18px 30px 0 12px;
    margin: 0;
    min-height: 48px;
    position: relative;
    z-index: 10;
    background: transparent !important;
    font-size: .9rem;
    text-overflow: ellipsis;
    box-shadow: none;
}

.form_address .form-group label {
    font-size: 16px;
    color: #7A7A9D;
    margin: 0;
    transform-origin: left top;
    transition: .2s ease all;
    position: absolute;
    top: 14px;
    left: 12px;
    cursor: text;
    z-index: 20;
}

.form_address .form-group .form-control:focus {
    box-shadow: none;
    outline: none;
}

.form_address .form-group .form-control:not(:placeholder-shown) + label,
.form_address .form-group .form-control:focus + label {
    top: 4px;
    font-size: .8rem;
    box-shadow: none;
}

.form_address .group-country fieldset {
    width: calc(100% / 3);
    margin-right: 10px;
}

.form_address .group-country fieldset:last-child {
    margin-right: 0;
}

.form_address .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form_address .form-group.select-field:after {
    position: absolute;
    content: '';
    top: 17px;
    right: 19px;
    width: 16px;
    height: 16px;
    background-image: url(https://bizweb.dktcdn.net/100/438/408/themes/902941/assets/down_sort.svg);
    z-index: 9;
}

.form_address .form-group.select-field select[disabled] {
    background-color: #eee !important;
    cursor: default;
}

/* End */


.item-check {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-check:first-child {
    padding-top: 0;
}

.item-check .item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-check .item-image img {
    width: 100px;
    height: 100px;
    display: block;
}

.item-check .item-detail-infor {
    padding: 10px 0 0 10px;
    flex-grow: 1;
}

.item-check .item-detail-infor p {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 18px;
}

.item-check .item-detail-infor .box-quantity {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
}

.item-check .item-detail-infor .box-quantity strong {
    font-size: 1rem;
}

.box-total {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 22px;
    font-weight: 500;
}

.type-checkout {
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1rem;
}

.btn-order {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn-order button {
    background-color: var(--bg-main);
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    font-size: .9rem;
    line-height: 18px;
    text-transform: uppercase;
    transition: all 0.4s ease;
    border: none;
}

.btn-order button:hover {
    background-color: var(--color-text-hover);
    color: #000;
    transition: all 0.4s ease;
}
