/*LIST PRODUCT*/
.tbody-thumb {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100px;
    height: 80px;
    overflow: hidden;
}

.tbody-thumb img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;
}