/*HEADER*/
#head-top {
    background: #fff;
}

#head-top #sub-menu li {
    float: left;
}

#head-top #payment-link {
    position: relative;
    display: block;
    color: #666;
    padding: 10px 0px 10px 20px;
}

#head-top #payment-link:before {
    position: absolute;
    content: '\f017';
    font-family: 'FontAwesome';
    top: 10px;
    left: 0;
}

#head-top #payment-link {
    margin-right: 20px;
}

#head-top #payment-link:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 60%;
    background: #ddd;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}

#head-top #contact-link {
    display: block;
    position: relative;
    color: #666;
    padding: 10px 0px 10px 20px;
    letter-spacing: 1px;
}

#head-top #contact-link:before {
    position: absolute;
    content: '\f0e0';
    font-family: 'FontAwesome';
    top: 10px;
    left: 0;
}

#head-top #payment-link:hover::before, #head-top #contact-link:hover::before {
    color: #ffca05;
    transition: all 0.3s;
}

#head-top #sub-menu li a {
    display: block;
    color: #666;
    padding: 10px 15px 10px 7px;
    font-size: 14px;
}

#head-top #sub-menu li i {
    color: #666;
}

#head-top #sub-menu li:hover i {
    color: #ffca05;
    transition: all 0.3s;
}

#head-top #sub-menu li:last-child a {
    padding-right: 0 !important;
}

#head-body {
    background: #5a4bde;
}

#head-body #logo {
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto Medium';
    color: #fff;
    padding: 30px 0px;
    width: 200px;
}

#head-body #search-wp {
    padding: 36px 0px 22px 150px;
}

#head-body #search-wp #s {
    display: inline-block;
    width: 400px;
    border: none;
    outline: none;
    padding: 8px 20px;
    line-height: normal;
}

#head-body #search-wp #sm-s {
    position: relative;
    left: -4px;
    display: inline-block;
    border: none;
    outline: none;
    background: #111111;
    color: #fff;
    padding: 12px 20px 10px;
    line-height: 13px;
    font-size: 13px;
}

#head-body #search-wp #sm-s:hover {
    background: #444444;
}

#action-wp {
    margin-left: 30px;
    padding: 10px 0px;
}

#advisory-wp {
    position: relative;
    padding: 21px 30px 15px 50px;
}

#advisory-wp:before {
    position: absolute;
    content: '\f2a0';
    font-family: 'FontAwesome';
    top: 50%;
    left: 0px;
    font-size: 21px;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
}

#advisory-wp:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 50%;
    background: #ddd;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#advisory-wp span {
    position: relative;
    display: block;
    color: #fff;
}

#advisory-wp .title {
    font-size: 15px;
}

#advisory-wp .phone {
    font-family: 'Roboto Bold';
    font-size: 16px;
}

#cart-wp, #cart-respon-wp {
    position: relative;
    display: block;
    color: #fff;
    padding: 25px 0px 20px 10px;
    margin-left: 20px;
}

#cart-wp i, #cart-respon-wp i {
    font-size: 20px;
    width: 49px;
    height: 44px;
    line-height: 33px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;
}

#cart-wp #num, #cart-respon-wp #num {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 22px;
    width: 18px;
    font-family: 'Roboto Medium';
    height: 16px;
    line-height: 17px;
    border-radius: 30px;
    margin: 0;
    min-width: 2px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    background: #ffca0d;
    right: -2px;
    padding: 0 5px;
    transition: .5s all;
}

#cart-respon-wp {
    display: none;
}

#cart-wp {
    position: relative;
    cursor: pointer;
}

#cart-wp #dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 130px;
    right: 0;
    width: 250px;
    min-height: 250px;
    padding: 10px;
    background: #fff;
    border: 1px solid #e1e1e1;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .3s ease;
    z-index: 1000;
}

#cart-wp #dropdown:before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: -12px;
    height: 12px;
    left: 0;
}

#cart-wp:hover #dropdown {
    top: 99px;
    opacity: 1;
    visibility: visible;
    border-top: 2px solid #d9263c;
}

#cart-wp .list-cart {
    margin-bottom: 15px;
}

#cart-wp .list-cart li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#cart-wp .list-cart li:last-child {
    margin-bottom: 0 !important;
    border-bottom: none;
    padding-bottom: 0 !important;
}


#cart-wp .list-cart .thumb {
    display: block;
    width: 100%;
    max-width: 80px;
}

#cart-wp .list-cart .thumb img {
    width: 100%;
    display: block;
    height: auto;
}

#cart-wp .list-cart .info {
    width: 75%;
    padding-left: 15px;
}

#btn-cart:hover a i {
    background: #ffca0d;
    transition: 0.25s ease;
}

#btn-cart:hover #num {
    background: black;
    color: white;
    transition: 0.25s ease;
}

#cart-wp #dropdown .desc {
    margin-bottom: 15px;
    color: #333;
}

/*
    Cart empty
 */
#cart-wp #dropdown .cart-empty {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

#cart-wp #dropdown .cart-empty img {
    width: 100%;
    height: auto;
    display: block;
}

#cart-wp #dropdown .cart-title {
    text-align: center;
    color: rgb(132, 135, 136);
}

/*
   End cart empty
 */

#cart-wp #dropdown .desc span {
    color: #d9263c;
    font-family: 'Roboto Medium';
}

#cart-wp #dropdown .list-cart .info .product-name {
    display: block;
    font-size: 13px;
    color: #333;
}

#cart-wp #dropdown .list-cart .info .price {
    display: block;
    font-family: 'Roboto Medium';
    font-size: 15px;
    color: #333;
}

#cart-wp #dropdown .list-cart .info .qty {
    display: block;
    font-size: 13px;
    font-family: 'Roboto Light';
    color: #999;
}

#cart-wp #dropdown .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Roboto Medium';
    font-size: 15px;
    margin-bottom: 15px;
    color: #000;
    line-height: normal;
}

#cart-wp #dropdown .total-price .title {
    flex-grow: 1;
}

#cart-wp #dropdown .action-cart a {
    display: block;
    padding: 5px 20px;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    font-size: 12px;
}

#cart-wp #dropdown .action-cart a.view-cart {
    outline: none;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    transition: all .3s;
    letter-spacing: 0;
    border-radius: 25px;
    display: block;
    padding: 5px 20px;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 8px;
    background: #ffca0d;
    color: #000;
}


#cart-wp #dropdown .action-cart a.checkout,
#cart-wp #dropdown .action-cart a.buy-now {
    background: #5a4bde;
    outline: none;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    transition: all .3s;
    letter-spacing: 0;
    border-radius: 25px;
    display: block;
    padding: 5px 20px;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    font-size: 12px;
    color: white;

}

#cart-wp #dropdown .action-cart a.view-cart:hover {
    background: #5a4bde;
    color: white;
    transition: all .3s;
}

#cart-wp #dropdown .action-cart a.checkout:hover,
#cart-wp #dropdown .action-cart a.buy-now:hover {
    background: #ffca0d;
    color: #000;
    transition: all .3s;
}






