/*HEADER*/
#head-top {
    background: #fff;
}

#head-top #sub-menu li {
    float: left;
}

#head-top #payment-link {
    position: relative;
    display: block;
    color: #666;
    padding: 10px 0px 10px 20px;
}

#head-top #payment-link:before {
    position: absolute;
    content: '\f017';
    font-family: 'FontAwesome';
    top: 10px;
    left: 0;
}

#head-top #payment-link {
    margin-right: 20px;
}

#head-top #payment-link:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 60%;
    background: #ddd;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}

#head-top #contact-link {
    display: block;
    position: relative;
    color: #666;
    padding: 10px 0px 10px 20px;
    letter-spacing: 1px;
}

#head-top #contact-link:before {
    position: absolute;
    content: '\f0e0';
    font-family: 'FontAwesome';
    top: 10px;
    left: 0;
}

#head-top #payment-link:hover::before, #head-top #contact-link:hover::before {
    color: #ffca05;
    transition: all 0.3s;
}

#head-top #sub-menu li a {
    display: block;
    color: #666;
    padding: 10px 15px 10px 7px;
    font-size: 14px;
}

#head-top #sub-menu li i {
    color: #666;
}

#head-top #sub-menu li:hover i {
    color: #ffca05;
    transition: all 0.3s;
}

#head-top #sub-menu li:last-child a {
    padding-right: 0 !important;
}

#head-body {
    background: #5a4bde;
}

#head-body #logo {
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 0px;
    width: 250px;
}

#head-body .nav-megamenu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#head-body .nav-megamenu .list-megamenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#head-body .nav-megamenu .list-megamenu li.list-megamenu__item {
    height: 100%;
    position: relative;

}

#head-body .nav-megamenu .list-megamenu li.list-megamenu__item a.listmegamenu__item-link {
    display: flex;
    align-items: center;
    padding: 38px 28px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    height: 100%;
    color: white;
    text-transform: uppercase;
    transition: all .3s;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu {
    border-top: 2px solid #d9263c;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    background: white;
    box-shadow: 0 2px 3px #e7e7e7;
    z-index: 999999;
    list-style: none;
    width: 200px;
    top: 150px;
    left: 22px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu li {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu li a {
    flex-grow: 1;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu > li > i {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: #666;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu > li:hover > a {
    background: #eee;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu ul.sub-menu {
    left: 199px;
    top: -18px;
}

#head-body .nav-megamenu .list-megamenu li.list-megamenu__item:hover > a {
    color: #ffca0d;
    transition: all 0.3s linear;
}

#head-body .nav-megamenu .list-megamenu li.list-megamenu__item:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
    top: 100px;
}

#head-body .nav-megamenu .list-megamenu li.list-megamenu__item ul.sub-menu > li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
    top: -2px;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu li:hover > a {
    color: #5a4bde;
    transition: all .3s ease;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu a {
    display: block;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 18px;
    color: #666;
    transition: all .3s ease;
}

#head-body .nav-megamenu .list-megamenu ul.sub-menu li:last-child {
    margin-bottom: 0px;
}


#head-body #search-wp {
    padding: 36px 0px 22px 150px;
}

#action-wp {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

#user-wp, #cart-wp {
    padding: 0 5px;
}

#action-wp .box-search {
    background-color: white;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    transition: 0.3s linear;
    position: relative;
    margin-right: 5px;
    overflow: hidden;
}

#action-wp .box-search .input {
    position: relative;
    width: 200px;
    height: 48px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#action-wp .box-search .input .clear {
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    color: #8888;
}

#action-wp .box-search .input input {
    position: absolute;
    font-weight: 400;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    outline: none;
}

#action-wp .box-search.active {
    width: 280px;
    transition: 0.3s linear;
}

#search {
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all;
    cursor: pointer;
}

#search img {
    position: absolute;
    width: 100%;
    max-width: 20px;
    height: 20px;
    display: block;
}

#user-wp, #cart-wp, #cart-respon-wp {
    position: relative;
    display: block;
    color: white;
    cursor: pointer;
}

#user-wp i, #cart-wp i, #cart-respon-wp i {
    font-size: 20px;
    width: 48px;
    height: 48px;
    line-height: 33px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;
}

#cart-wp #num, #cart-respon-wp #num {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    width: 18px;
    height: 18px;
    border-radius: 30px;
    margin: 0;
    min-width: 2px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    background: #ffca0d;
    right: -3px;
    padding: 0 5px;
    transition: .5s all;
}

#cart-respon-wp {
    display: none;
}


#cart-wp #dropdown, #user-wp #user__dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 130px;
    right: 0;
    background: #fff;
    border: 1px solid #e1e1e1;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .3s ease;
    z-index: 1000;
}

#cart-wp #dropdown {
    width: 250px;
    min-height: 250px;
    padding: 10px;
}

#user-wp #user__dropdown {
    width: 160px;
    min-height: 160px;
}

#user-wp #user__dropdown .list-infor {
    margin-bottom: 0;
}

#user-wp #user__dropdown .list-infor .list-infor__item .list-infor__item-link {
    display: block;
    white-space: nowrap;
    padding: 8px 0px 8px 10px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    font-family: FontDrop, sans-serif;
    font-weight: 500;
    color: #666;
    letter-spacing: 0.3px;
}

#user-wp #user__dropdown .list-infor li:last-child a {
    border-bottom: 0px !important;
}


#cart-wp #dropdown:before, #user-wp #user__dropdown:before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: -12px;
    height: 12px;
    left: 0;
}

#cart-wp:hover #dropdown, #user-wp:hover #user__dropdown {
    top: 72px;
    opacity: 1;
    visibility: visible;
    border-top: 2px solid #d9263c;
}

#cart-wp .list-cart {
    -ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none; /* sử dụng Firefox */
    overflow-y: scroll;
    max-height: 300px;
    margin-bottom: 15px;
}


#cart-wp .list-cart::-webkit-scrollbar {
    display: none; /* cho Chrome, Safari, and Opera */
}

#cart-wp .list-cart li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#cart-wp .list-cart li:last-child {
    margin-bottom: 0 !important;
    border-bottom: none;
    padding-bottom: 0 !important;
}


#cart-wp .list-cart .thumb {
    display: block;
    width: 100%;
    max-width: 80px;
}

#cart-wp .list-cart .thumb img {
    width: 100%;
    display: block;
    height: auto;
}

#cart-wp .list-cart .info {
    width: 75%;
    padding-left: 15px;
}

#btn-cart:hover a i {
    background: #ffca0d;
    transition: 0.25s ease;
}

#btn-cart:hover #num {
    background: black;
    color: white;
    transition: 0.25s ease;
}

#cart-wp #dropdown .desc {
    margin-bottom: 15px;
    color: #333;
}

/*
    Cart empty
 */
#cart-wp #dropdown .cart-empty {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

#cart-wp #dropdown .cart-empty img {
    width: 100%;
    height: auto;
    display: block;
}

#cart-wp #dropdown .cart-title {
    text-align: center;
    color: rgb(132, 135, 136);
}

/*
   End cart empty
 */
#cart-wp #dropdown .desc span, #cart-wp #dropdown .total-price .price {
    color: #d9263c;
    font-weight: 500;
}

#cart-wp #dropdown .list-cart .info .product-name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

#cart-wp #dropdown .list-cart .info .price {
    display: block;
    font-size: 15px;
    padding: 5px 0;
    color: #333;
}

#cart-wp #dropdown .list-cart .info .qty {
    display: block;
    font-size: 13px;
    color: #999;
    margin-bottom: 0;
}

#cart-wp #dropdown .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    color: #000;
    line-height: normal;
}

#cart-wp #dropdown .total-price .title {
    flex-grow: 1;
    font-weight: 500;
}

#cart-wp #dropdown .action-cart a {
    display: block;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
}

#cart-wp #dropdown .action-cart a.view-cart {
    outline: none;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    transition: all .3s;
    letter-spacing: 0;
    border-radius: 25px;
    display: block;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 8px;
    background: #ffca0d;
    color: #000;
    font-weight: 500;
}


#cart-wp #dropdown .action-cart a.checkout,
#cart-wp #dropdown .action-cart a.buy-now {
    background: #5a4bde;
    outline: none;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    transition: all .3s;
    letter-spacing: 0;
    border-radius: 25px;
    display: block;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 500;
}

#cart-wp #dropdown .action-cart a.view-cart:hover {
    background: #5a4bde;
    color: white;
    transition: all .3s;
}

#user-wp #user__dropdown .list-infor .list-infor__item:hover .list-infor__item-link {
    color: #5a4bde;
    transition: all .3s;
}

#user-wp:hover i {
    background: #ffca0d;
    transition: all .3s;
}

#cart-wp #dropdown .action-cart a.checkout:hover,
#cart-wp #dropdown .action-cart a.buy-now:hover {
    background: #ffca0d;
    color: #000;
    transition: all .3s;
}






